venv
*.pyc
.env

# Dependency directories
/node_modules

# Build files
/build
/dist

# IDE and editor files
/.idea
/.vscode
*.iml
*.ipr
*.iws
*.idea/

# Compiled output
*.class
*.war
*.jar

# Miscellaneous
.DS_Store
Thumbs.db